*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
}
.flexRow{
    display: flex;
}
.flexRowCenterAll{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.flexColumnCenterAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TextCenter{
    text-align: center;
}
.ellipsis{
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}